<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rasmus.p9">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlayerRole"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.MiniGameDrink"
            android:screenOrientation="portrait" />

        <service android:name=".Other.GeofenceTransitionService" />
        <service android:name=".Other.Accelerometer" />
        <service android:name=".NavigationMethod.Flashlight" />

        <activity
            android:name=".Minigames.LiftMeteor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.ChargeBattery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.SwordFight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.MrMime"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other.Countdown"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other.NFC"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.example.android.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Minigames.SoundPuzzle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.BombSquad"
            android:label="@string/title_activity_bomb_squad"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Minigames.TreasureHunt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.BlowMic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Minigames.Proximity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other.GameScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".Minigames.ShakeHands1Player" />
        <activity android:name=".Other.Victory" />
        <activity android:name=".NavigationMethod.NavigationActivity" />

        <service
            android:name=".NavigationMethod.UserLocation"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Minigames.MetalDetector" />
        <activity android:name=".Other.GameIntro" />
        <activity
            android:name=".Minigames.TreasureHuntVerification"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".Minigames.SoundPuzzle2" />
        <activity android:name=".Other.Introduction" />
        <activity android:name=".Other.Ready2StartGame"></activity>
    </application>

</manifest>